<!DOCTYPE html>
<html>
<head>
    <title>SheGuard AI</title>
</head>
<body>

<h1>SheGuard AI</h1>
<p>Detect. Defend. Dignify.</p>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="image" required>
    <button type="submit">Analyze Image</button>
</form>

{% if result is not none %}
    <h2>Analysis Result</h2>
    <p><strong>AI / Morphed Probability:</strong> {{ result }}%</p>
    <img src="{{ url_for('static', filename=filename) }}" width="300">
{% endif %}

</body>
</html>
